{% extends 'base.html.twig' %}

{% block title %}Ajouter un vehicule{% endblock %}

{% block body %}
<h1 class="text-center">Ajouter un vehicule</h1>

<div class="container">
{{ form_start(form, {
    attr: { novalidate: 'novalidate'}
}) }}
<div class="row">
    <div class="col-6">{{ form_row(form.titre) }}</div>
    <div class="col-6">{{ form_row(form.marque) }}</div>
    <div class="col-6">{{ form_row(form.modele) }}</div>
    <div class="col-6">{{ form_row(form.description) }}</div>
    <div class="col-6">{{ form_row(form.photo) }}</div>
    <div class="col-6">{{ form_row(form.prix) }}</div>
    <div class="col-6">{{ form_row(form.date_enregistrement) }}</div>
</div>
<button class="btn btn-primary">Ajouter</button>

{{ form_end(form) }}
</div>

{% endblock %}
